:root {
	--primary-red: #ff5757;
	--primary-yellow: #ffd739;
	--primary-green: #7ed957;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* popUp CSS CODE starts */
.popUpWrapper {
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 0px;
}
.popUpMain {
	height: 400%;
	position: relative;
	top: 0px;
	transition: top 0.5s ease-in-out;
}
.popUpMainPage1 {
	top: -100%;
}
.popUpMainPage2 {
	top: -200%;
}
.popUpMainPage3 {
	top: -300%;
}

.popUpPage {
	height: 25%;
	width: 100%;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	gap: 7%;
}

.popUpHeading {
	display: flex;
	justify-content: center;
	font-size: xx-large;
}
.popUpHeading h2,
h3,
h4 {
	font-family: Verdana;
	text-align: center;
}

.popUpInputBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	width: 100%;
}

.popUpInputDiv {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid white;
	height: 42px;

	border-radius: 100px;
	padding: 2%;
	padding-inline: 5%;
}
.popUpInput {
	width: 90%;
	background: transparent !important;
	border: none;
	outline: none;
	color: white;
	height: 100%;
	font-size: large;
	border-color: transparent;
}

.popUpInput:-webkit-autofill {
	background-color: transparent !important;
	color: white !important;
}

.popUpInputDiv:has(.popUpInput:focus) {
	border-color: #ffd739;
}
svg {
	color: white;
}
.popUpInputDiv:focus-within svg {
	color: #ffd739;
}

.otpBox {
	height: 50px;
	margin: 0 5px;
	font-size: 1.5rem;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	outline: none;
	background-color: rgba(61, 62, 78, 0.846);
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
	color: white;
}
.otpBox:focus {
	border-color: #ffd739;
	box-shadow: 0 0 5px #ffd73970;
}

.popUpButtonPlus {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.popUpButton {
	padding: 8px 16px;
	align-self: center;
	cursor: pointer;
	width: 100%;

	background-color: white;
	color: black;

	font-weight: bold;
	font-size: large;
	letter-spacing: 1px;
	font-family: "Verdana";

	border: 2px solid white;
	border-radius: 100px;
	box-shadow: 0 0 2px 1px #ffd7398f;

	transition-duration: 0.2s;
}
.popUpButton:hover {
	background-color: #ffd73970;
	color: white;
	border-color: #ffd739;
}

.invisibleButton {
	cursor: pointer;
	color: white;
	transition: color 0.2s ease-in-out;
}
.invisibleButton:hover {
	color: #ffd739;
}

/* popUp CSS CODE ends */
