.small {
  width: 14vw;
}

.medium {
  width: 48vw;
}

.large{
  width: 95vw;
}

.label {
  font-size: large;
  font-weight: 700;
  margin-bottom: 0.5vh;
  padding-left: 0.5vw;
}

.input{
  padding: 6px;
  font-size: large;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.select { 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wrapper{
  padding-top: 2vh;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  padding-bottom: 2vh;
  background : linear-gradient(to bottom, rgb(1, 1, 48), black);
}

.goBack{
  width: 100%;
  height: 5vh;
}

.goBack p{
  font-size: 2vw;
  margin-left: 2vw;
  font-weight: 900;
}

.goBack p:hover{
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

.inputFields {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  gap: 1vw;
}

.first{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.title, .tags, .difficulty, .timeComplexity, .spaceComplexity, .description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 2vh;
}

.rowSmall{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.desc {
  width: 100%;
  height: 190px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


.inwrapper {
  margin-bottom: 20px;
}

.testcase {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 7px;
}

.testlabel {
  font-size: larger;
  padding-left: 10px;
}

.testinput {
  width: 95%;
  height: 60%;
  border: 2px solid rgb(170, 170, 170);
  border-top-left-radius: 1% 25%;
  border-top-right-radius: 1% 25%;
  border-bottom-left-radius: 1% 25%;
  border-bottom-right-radius: 1% 25%;
  padding: 8px;
  font-size: 1.1rem;
  margin-top: 1px;
}

.hintcase {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deletebtn {
  align-self: flex-end;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deletebtn:hover {
  background-color: #c0392b;
}

.btnAdd {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1vh;
  margin-bottom: 2vh;
  align-self: center;
}

.btnAdd:hover {
  background-color: #2980b9;
}

.btn2 {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2vh;
  align-self: center;
}

.btn2:hover {
  background-color: #27ae60;
}

.text-input {
  margin-bottom: 2vh;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.text-input label {
  font-size: 14px;
  margin-bottom: 1vh;
}

.text-input input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn3 {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
}

.btn3:hover {
  background-color: #27ae60;
}
.hiddenMessage{
  display:none;
}

.btn3:hover + .hiddenMessage{
  display:block;
  color: red;
}