@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.container {
	background-color: black;
	height: 90vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
}

.wrapper1 {
  background-color: black;
  padding: 1vh;
  width: 75vw;
  height: 90vh;
  overflow-y: auto;
  border-right: 3px solid white;
}
.wrapper1 h1 {
  margin: 0 30px;
  color: white;
}

.wrapper1 a{
  text-decoration: none;
  color: inherit;
}


.btn{
  position: fixed;
  bottom: 1rem;
  right: 22rem;
  padding: 8px 12px;
  font-size: small;
  color: #dddddd;
  background-color: rgb(0, 22, 168);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  border:2px solid rgb(0, 0, 73);
  box-shadow:0 0 2px 1px #484cc1a7;
}

.btn:hover{
	box-shadow:0 0 5px 5px #00508da7 ;
}

::-webkit-scrollbar {
  display: none;
}