
:root {
    --primary-red : #FF5757;
    --primary-yellow : #FFD739;
    --primary-green: #7ED957;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.background{
    content:'';
    width : 100%;
    height : 100vh;
    background : linear-gradient(to bottom, rgb(1, 1, 48), black);
    background-attachment: fixed;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    color:white;
    overflow-x:hidden;
}

.background::-webkit-scrollbar{
    display:none;
}

.wrapper1{
    display:flex;
    justify-content: space-around;
    height:50vw;
}

.wrapper2{
    display:flex;
    flex-direction: column;
    justify-content:center;
    height:90%;
    width:50%;
    padding-left:5%;
}

.wrapper2 img{
    margin-left:-5%;
}


.typewriter{
    font-family:'Courier New', Courier, monospace;
    font-size:2vw;
    font-weight: bolder;
    white-space : nowrap;
    overflow:hidden;
    border-right: 2px solid white;
    width : 34 ch;
    animation : typing 5s  steps(34) 1s forwards infinite, 
                blink 0.5s step-end infinite;
}

@keyframes typing{
    0%{
        width : 0;
    }
    60% {
        width : 34ch;
    }
    70%{
        width: 34ch;
    }
    90%{
        width : 0;
    }
    100%{
        width:0;
    }
}

.wrapper3{
    display:flex;
    flex-direction: column;
    height:100%;
    width:50%;
    align-items:center;
    justify-content:space-around;
    
}

.imgWrapper{
    background-color:black;
    border-radius: 30px;
    height:70%;
    width:60%;
    padding:10%;
    box-shadow:0 0 100px -40px #73bbff;
}

.frontPageImage{
    height:100%;
    width:100%;
}

.frontPageImage::before{
    background-color: red;
}




hr{
    background-color: white;
    width:50%;
    margin-left:50%;
    transform: translateX(-50%);
}

.btn{
    align-self:center;
    /* margin-top: 10px; */
    padding: 8px 16px;
    color: #dddddd;
    background-color: #484cc1a7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border:2px solid blue;
    box-shadow:0 0 2px 1px #484cc1a7;
    margin-top:50px;
}

.buttons{
    display:flex;
    gap:20px;
    justify-content:center;
}

.login{
    background-color: #ff575779;
    border:2px solid #FF5757;
    box-shadow:0 0 2px 1px #ff575779;
}

.signup{
    background-color: #7ed95783;
    border:2px solid #7ED957;
    box-shadow:0 0 2px 1px #7ed95783;
}

@media (max-width: 768px){ 
    .wrapper3 {
        display: none;
    }
    .wrapper2 {
        width: 100%;
    }
    .wrapper1 {
        justify-content: center;
    }
    .typewriter{
        font-size: 3vw;
    }
    .btn{
        font-size:medium;
    }
}


.features{
    width:100%;
    height:90%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:10%;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.features h1{
    width:100%;
    text-align:center;
    font-family: Verdana;
}

.sliding{
    padding-left:15px;
    display:flex;
    gap:30px;
    width: fit-content;
    animation:marquee 20s linear infinite var(--direction, forwards);
    
}


@keyframes marquee{
    to{
        transform: translateX(-50%);
    }
}
.sliding li{
    padding:15px;
    height : 430px;
    width : 330px;
    
    background-color: #292a2c86;
    
    display : flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;  
    border-radius:20px;
    box-shadow:0 0 1px 1px white;  
}

.sliding li .cardPhoto{
    height:50%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliding li .cardPhoto div{
    height : 70%;
    width : 40%;
    background-color:red;
    border-radius: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sliding li:nth-of-type(3n) .cardPhoto div{
    background-color:#ff57578b;
}

.sliding li:nth-of-type(3n+1) .cardPhoto div{
    background-color:#ffd73982;
}

.sliding li:nth-of-type(3n+2) .cardPhoto div{
    background-color:#7ed9578c;
}

.sliding li .cardPhoto img{
    height : 90%;
    width : 90%;
}
.cardText{
    height:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
}
.cardHeading{
    font-size:30px;
    text-align: center;
}
.cardPara{
    text-align: center;
}

.contactUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;;
}
.contactMain {
    height: 600px;
    width: 950px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.contactSectionOne {
    height: 600px;
    width: 450px;

    padding-inline : 12%;
    padding-top:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:5%;

    background-color: transparent;   
    border-radius: 15px; 
}

.contactSectionTwo {
    height: 600px;
    width: 450px;
    
    padding : 10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
    background-color: transparent;
    border-radius: 15px;
}

@media (max-width: 900px){ 
    .contactMain {
        width: min(90vw,450px);
        position: relative;
        overflow: hidden;
        box-shadow:0 0 10px 1px whitesmoke;
    }
    
    .contactSectionOne {
        width: min(90vw,450px);
        position: absolute;
        left: 0;
        z-index: 1; 
        border:2px solid whitesmoke;
        box-shadow:0 0 10px 1px whitesmoke;
        background-color: #010120;
    }
    
    .contactSectionTwo {
        width: min(90vw,450px);
        position: absolute;
        z-index: 0;
        border:2px solid whitesmoke;
        box-shadow:0 0 10px 1px whitesmoke;
        background-color: #010120;
    }
}

@keyframes moveForward {
    0% {
        left: 0;
        z-index: 0;
    }
    19% {
        left: min(90vw,450px);
        z-index: 0;
    }
    21% {
        left: min(90vw,450px);
        z-index: 2;
    }
    100% {
        left: 0;
        z-index: 2;
    }
}

@keyframes moveBackward {
    0% {
        left: 0;
        z-index: 2;
    }
    79% {
        left: -450px;
        z-index: 2;
    }
    81% {
        left: -450px;
        z-index: 0;
    }
    100% {
        left: 0;
        z-index: 0;
    }
}

.animateForward {
    animation: moveForward 1s forwards ease-in-out;
}

.animateBackward {
    animation: moveBackward 1s forwards ease-in-out;
}

.contactUsHeading{
    display : flex;
    justify-content : center;
    align-items: center;
    text-align: center;
    width:100%;
    font-size : xx-large;
    height:20%;
    
    color: #FF5757;
    font-weight: 600;
}

.contactUsForm{
    height:80%;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:space-around;
    gap:15px;
}
.contactUsInputDiv{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid white;
    height:50px;

    border-radius: 100px;
    padding:2%;
    padding-inline: 5%;
}
.contactUsInput{
    width:90%;
    background: transparent;
    border:none;
    outline:none;
    color:white;
    height:100%;
    font-size: large;   
    border-color: transparent; 
}
.contactUsInputDiv:has(.contactUsInput:focus) {
    border-color: #FF5757;
}
svg{
    color:white;
}
.contactUsInputDiv:focus-within svg {
    color: #FF5757;
}
.contactUsTextAreaDiv{
    border-radius: 20px;
    height: auto;
}
.contactUsTextArea{
    width: 100%;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}
.contactUsButton{
    padding: 8px 16px;
    align-self:center;
    cursor: pointer;
    width:100%;

    background-color: white;
    color: black;
    
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    font-family:'Verdana';

    border:2px solid white;
    border-radius: 100px;
    box-shadow:0 0 2px 1px #ff575779;
    
    transition-duration: 0.2s;
}
.contactUsButton:hover{
    background-color: #ff575779;
    color:white;
    border-color:#FF5757;
}

.contactUsPara{
    margin-top: -20px;
    font-size: large;
}
.contactUsFeature{
    width:100%;
    display:flex;
    justify-content: flex-start;
    gap:20px;
    font-size: x-large;
}
.contactUsIcon{
    font-size: xx-large;
    
}
@media (max-width: 420px){ 
    .contactUsFeatureEmail{
        font-size:large;
    }
}
.contactUsIcon svg{
    color: #FF5757;
    padding-top: 10px;
}
.contactUsinvisibleButton{
    cursor: pointer;
    color:white;
    transition: color 0.2s ease-in-out;
}
.contactUsinvisibleButton:hover{
    color:#FF5757;
}
.contactUsConnect{
    width:100%;
    display: none;
}
@media (max-width: 900px){ 
    .contactUsConnect{
        display: block;
    }
}
.actionButton {
    position: absolute;
    z-index: 5;
}