.container {
	background-color: black;
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
}

.wrapper {
	width: 80%;
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 2px solid white;
}

.filters{
	color: White;
	margin: 10px 10px 0px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.wrapper a {
	text-decoration: none;
	color: inherit;
}

.newFilters{
	display: flex;
	flex-direction: column;
	align-items:center;
}

.addFilter{
	letter-spacing: 1px;
	font-weight: 300;
	font-size: large;
	margin: 5px;
}

.filterInput{
	padding: 4px;
	border: none;
	border-radius: 5px;
	border: 2px solid black;
	font-size: large;
	font-weight: 500;
	margin:10px 0px 10px 0px;
}

.filterBtn{
	padding: 4px;
	border: none;
	border-radius: 5px;
	height: 32px;
	width: 65px;
	font-weight: 700;
	font-size: large;
	border: 2px solid black;
	background-color: lightgreen;
}

.filterList{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin: 5px 0 10px 0;
}