.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background : linear-gradient(to bottom, rgb(1, 1, 48), black);
    background-attachment: fixed;
}

.Question{
    width: 45vw;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: pink; */
}

.CodeEditor{
    width: 55vw;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: purple; */
}

.resizer {
    width: 5px;
    background-color: rgb(255, 255, 255);
    cursor: col-resize;
    z-index: 1;
}