.wrapper{
    height: 6vh;
    width: 100%;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    color: white;
}

.headings:hover{
    cursor: pointer;
}